<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>	
		<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>	
			<% if(user.local.username) {%>
				<p>
					<strong>id</strong>: <%=user._id%><br />
					<strong>email</strong>: <%=user.local.username%><br />
					<strong>password</strong>: <%=user.local.password%><br />
				</p>
				<a href="/auth/unlink/local" class="btn btn-default" >Unlink</a>
			<% } else { %>
				<a href="/auth/connect/local" class="btn btn-default" >Connect Local</a>
			<% } %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-facebook"></span> Facebook</h3>	
			<% if(user.facebook.token) {%>
				<p>
					<strong>id</strong>: <%=user.facebook.id%><br />
					<strong>token</strong>: <%=user.facebook.token%><br />
					<strong>email</strong>: <%=user.facebook.email%><br />
					<strong>name</strong>: <%=user.facebook.name%><br />
				</p>
				<a href="/auth/unlink/facebook" class="btn btn-primary" >Unlink</a>
			<% } else { %>
				<a href="/auth/connect/facebook" class="btn btn-primary" >Connect Facebook</a>
			<% } %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-google-plus"></span> Google</h3>	
			<% if(user.google.token) {%>
				<p>
					<strong>id</strong>: <%=user.google.id%><br />
					<strong>token</strong>: <%=user.google.token%><br />
					<strong>email</strong>: <%=user.google.email%><br />
					<strong>name</strong>: <%=user.google.name%><br />
				</p>
				<a href="/auth/unlink/google" class="btn btn-danger" >Unlink</a>
			<% } else { %>
				<a href="/auth/connect/google" class="btn btn-danger" >Connect Google</a>
			<% } %>
		</div>
	</div>

</div>
</body>
</html>